:root {
    --nav-background-color: white;
    --nav-color: rgb(55, 65, 81);
    /* --main-background-color : #475968; */
    --main-background-color: #282c2f;
    --main-title-color: white;
    --main-subtitle-color: #eaedf0;
    --features-title-color: var(--main-title-color);
    --features-second-title-color: rgb(55, 65, 81);
    --features-subtitle-color: #3c3e41;
    --support-background-color: #0f68b5;
    /* --action-button-bg-color: #6060ce */
    --action-button-bg-color: #6f6ece
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.navbar {
    background-color: var(--nav-background-color);
    box-shadow: rgb(230, 230, 230) 0px 1px 3px 0px;
    color: var(--nav-color);
    font-size: 15px;
    height: 69px;
    font-weight: 500;
    z-index: 1000;
    position: relative;
    padding: 0 10px;
}

.nav-container {
    max-width: 1344px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.brand {
    padding: 20px 0px;
}

.logo {
    cursor: pointer;
    height: 25px;
    max-width: 100%;
    padding: 0 10px;
}


.nav-link {
    text-decoration: none solid rgb(107, 114, 128);
    color: rgb(107, 114, 128);
    cursor: pointer;
    font-weight: 500;
    line-height: 25px;
    padding: 8px 12px;
}

.login-link {
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgb(239, 241, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 4px;
    color: rgb(56, 80, 183);
    height: auto;
    line-height: 24px;
    padding: 7px 16px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}

.nav-menu-button {
    display: none;
    cursor: pointer;
    font-size: 24px;
    height: auto;
    padding: 18px;
    width: auto;
    height: auto;
}


section#main {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    min-height: 965px;
    min-width: auto;
    align-items: center;
    justify-content: space-between;
}

section#main>.container {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 1344px;
    min-height: auto;
    min-width: auto;
    justify-content: center;
}

section#main .columns {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

section#main .column {
    margin: 20px;
    height: auto;
    padding: 12px;
    max-width: 632px;
}

section#main .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    color: var(--main-title-color);
    word-break: break-word;
    /* letter-spacing: -0.95px; */
}

section#main .btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section#main .subtitle {
    color: var(--main-subtitle-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    word-break: break-word;
    margin: 40px 0;
}

section#main .btn {
    margin: 20px 0;
    background: var(--action-button-bg-color);
    color: white;
    padding: 9px 20px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

section#main video {
    width: 100%;
}

/* -----------FEATURES-----------------------  */

section#features {
    background-color: var(--main-subtitle-color);
    display: flex;
    align-items: center;
}

section#features>.column {
    max-width: 960px;
    margin: 10% auto;
}

section#features>.column>.title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    color: var(--main-background-color);
    margin: 0px 0px 48px;
    word-break: break-word;
}

section#features .column .columns {
    display: flex;
    justify-content: center;
}

section#features .columns .title {
    text-align: start;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: white;
    margin: 0px 0px 36px;
    word-break: break-word;
}

section#features .columns .column {
    padding: 15px;
    /* background-color: #393bb4; */
    background-color: #34353f;
    border-radius: 10px;
    justify-content: center;
    margin: 20px;
    width: 100%;
}

section#features .subtitle {
    color: #cfd6db;
    font-size: 18px;
    line-height: 25px;
    margin: -20px 0px 24px;
    word-break: break-word;
}



section#features i {
    font-size: 30px;
}

/* ------------------------------------------------------------------ */

section#support {
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
}

section#support .container {
    
    width: 100%;
    max-width: 1260px;
    margin: 10% auto;
}

section#support .columns {
    margin: 50px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section#support .columns .column {
    background-color: var(--support-background-color);
    padding: 32px;
    margin: 10px;
    border-radius: 10px;
}


section#support .title {
    color: white;
    text-align: start;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;

    margin: 0px 0px 36px;
    word-break: break-word;
}

section#support .subtitle {
    text-align: center;
    color: #eaedf0;
    font-size: 18px;
    line-height: 25px;
    margin: -20px 0px 24px;
    word-break: break-word;
}

section#support .icons {
    display: flex;
    justify-content: space-around;
}

section#support .icons img {
    width: 48px;
}

section#support .btn-container {
    text-align: center;
}

section#support button {
    display: inline-block;
    background: var(--action-button-bg-color);
    color: white;
    padding: 16px 24px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}


section#faq {
    background-color: var(--main-subtitle-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

section#faq .container {
    max-width: 768px;
    margin: 10% auto;
}

section#faq .container>.title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    color: var(--main-background-color);
    margin: 0px 0px 48px;
    word-break: break-word;
}

section#faq .faqs div {
    margin: 50px 0;
}

section#faq .faqs .title {
    text-align: start;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: var(--features-second-title-color);
    margin: 0px 0px 36px;
    word-break: break-word;
}


@media screen and (max-width : 576px) {
    section#main .btn {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        word-break: break-word;
        margin: 40px 0;
    }

    section#support .title {
        font-size: 24px;
    }

    section#main .title {
        font-size: 40px;
        font-weight: 700;
        line-height: 46px;
    }

    section#features .columns .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }

    section#faq .faqs .title { 
        font-size: 20px !important;
        line-height: 24px;
    }
    
    section#faq .container {
        margin: 10% 15px;
    }

    section#faq .faqs div {
        margin: 30px 0;
    }


}



@media screen and (max-width : 992px) {
    .navbar {
        padding: 0;
    }

    .nav-menu-button {
        display: inline-block;
    }

    .nav-menu {
        padding: 10px 0;
        background-color: var(--support-background-color);
        display: none;
        height: 'auto';
        flex-direction: column;
        position: absolute;
        top: 69px;
        width: 100%;
        overflow: hidden;
        line-height: 20px;
        transition: all 0.5s ease-in;
    }

    .nav-link {
        padding: 5px 20px;
        color: white;
        height: auto;
    }

    .login-link {
        padding: 5px 15px;
        color: black;
        margin: 5px 20px;
        text-align: center;
        width: fit-content;

    }

    .navbar-container {
        margin: 0 auto;
        width: 100%;
        max-width: 728px;
    }

    section#main>.column {
        margin: 20px auto;
    }

    section#main .columns {
        flex-direction: column;
    }

    section#features .columns {
        flex-direction: column;
        margin: 0px 20px;
        flex-wrap: wrap;
        width: auto;
    }

    section#features .columns .title {
        margin-bottom: 30px;
    }

    section#features .columns>.column {
        width: auto;
    }

    section#support .columns {
        margin: 50px 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section#support .columns .column {
        margin: 40px 0px;
        padding: 32px;
        border: 1px dashed white;
        border-radius: 10px;
    }

    section#faq .faqs .title {
        
        font-size: 24px;
        line-height: 30px;
        margin: 0px 0px 36px;

    }

}

@media screen and (max-width:1280px){
    section#support .columns {
        justify-content: center;
    }
    section#main .columns {
        flex-direction: column;
    }
    section#support .columns .column {
        background-color: var(--support-background-color);
        padding: 32px;
        margin: 40px 32px;
        border-radius: 10px;
    }
}


